header {
    background-color: rgb(98, 1, 1);
    color: whitesmoke;
    border: 5px solid black;
    margin: 30px;
    padding: 10px 10px;
    font-size: 19px;
    text-align: center;
    
}
.texto-basico {
    font-size: 31px;
    color:rgb(77, 77, 77);
    
    margin-left: 150px;
    padding: 10px 10px;
}

.texto-link {
    font-size: 17px;
    color:black;
    border: 2px solid black;
    margin: 10px;
    padding: 10px 10px;
}

.centraliza-texto {
    text-align: center;
  }

.texto-destaque {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 15px solid rgb(122, 122, 122);
    margin: 30px;
    padding: 10px 10px;
    font-size: 25px;
    text-align: center;
}

  footer {
    background-color: rgb(98, 1, 1);
    color: whitesmoke;
    border: 5px solid black;
    margin: 30px;
    padding: 10px 10px;
    font-size: 17px;
    text-align: center;
    
}

.nao-mostrar {
    display: none;
}

img {
    border: 5px solid black;
    margin: 30px;
    padding: 10px 10px;
    width:100px; /* you can use % */
    height: auto;
}

tr {
    font-size: 21px;
    color:rgb(0, 0, 0);
    
    margin-left: 150px;
    padding: 10px 10px;
}
